# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.vcxproj.user
bootstrap_results*.xml

# SpecFlow
SpecFlow/
*.feature.cs

# Build output
/build/CoreRT
/build/packages
/build/report
/build/repos
/build/results
/build/tools
